body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #F00741 !important;
  border-color: #F00741 !important;
}
.btn-primary {
  border-color: none !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #F00741 !important;
  border-color: #F00741 !important;
}

.btn-outline-primary {
  color: #F00741 !important;
  background-color: #fff !important;
  border-color: #F00741 !important;
}

h1, h2, h3, h3, h4,h5, h6 {
  color: #343a40;
}